@{
    ViewBag.Title = "Sobre";
    ViewBag.Message = "Informações de contato:";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    Aurélio Henrique Vieira Martins de Araujo<br />
    Campo Grande - MS<br />
    <abbr title="Zap">Contato: (11) 95464-0417</abbr>
</address>

<address>
    <strong>E-Mail:</strong>   <a href="mailto:developeraurelio@gmail.com">developeraurelio@gmail.com</a><br />
    <strong>GitHub:</strong> <a href="https://github.com/signess">github.com/signess</a>
</address>